body {
    width: 100%;
    margin: 0;
    background: rgb(245,245,220); /* Цвет фона */
    
  }
* {
    box-sizing: border-box;
}

.tableContainer {
    flex-direction: column;
    border: 1px solid black;
    overflow-y: auto; /* Позволяет вертикальный скролл */
    width: fit-content;
    overflow-x: auto; /* Позволяет горизонтальный скролл для таблиц */
}


.flexContainer {
    
    border-bottom:  1px solid black;
     display: flex;
      background: gray ;
      position: sticky;
     
}


.dataContainer {
    /* margin: 3px; */
    padding: 10px;
    flex: 1;
    border-right: 1px solid black;
    text-align: center;
    font-size: 12px;

}
.flexContainer > .dataContainer:last-child {
    border-right: none;
}

  /*------------------*/


.table {
    width: 100%;
    border-collapse: collapse; /* Убирает промежутки между ячейками */
}

th, td {
    background: white;
    border: 1px solid black; 
    text-align: center; 
    padding: 10px; 
    font-size: 10.5px;
   
}

th {
    background-color: gray; 
    position: sticky; /* Фиксирует заголовки */
    top: 0; /* Фиксация у верхней границы при скролле */
    
}



/* STYLES FOR  ChartQuotes*/
/* пример для отображения координат, облигаций относительно их погашений и процентной ставки. */
/* file:///Users/dimaaksenov/Downloads/1.html */
.mainSquare {
    background: white;
    position: relative;
    margin: 60px 90px;
    width: 100%;
    height: 400px;
    border: 1px solid black;
    /* border-radius: 5px; */
    box-shadow: 0 0 4px #000;
}

.printPoint{
    position: absolute;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: navy;
    border: 1px solid #B39F7A;
    transform: translate(-50%, 50%);
    font-size: 10px;
    z-index: 10;
}




/* отрисовка названия облигации под точкой  */
.nameOfPoint {
    /* display: none; */
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    /* display: none; */
    white-space: nowrap; 
    font-size: 4px;
    color: black; 
    
    /*mess around */
    opacity: 0.7;
    transition: all 0.3s ease-in-out; /* Плавная анимация */
}
/* отрисовка при навидении по дточкой, курсором на точку */
.printPoint:hover .nameOfPoint {
    opacity: 1;
    font-size: 12px;
    display: block;
}






/* отрисовка данных об облигации над точкой  */
.printInformation {
    background-color: bisque;
    border: 1px solid rgba(0, 0, 0, 0.577);
    box-shadow: 0 0 4px #000;
    /* display: none; */
    position: absolute;
    /* top: 120%; */
    left: 50%;
    transform: translateX(-50%) translateY(-120% );
    white-space: nowrap; 
    font-size: 0px;
    color: black; 
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    padding: 0px 8px 8px 8px;
    border-radius: 4px;
   

    /*mess around */
    transition: all 0.3s ease-in-out; /* Плавная анимация */
    opacity: 0;
    z-index: 10;
    
}

/* отрисовка при навидении над дточкой, курсором на точку */
.printPoint:hover .printInformation {
   
    opacity: 1;
    font-size: 10px;
    z-index: 10;

    /* display: block; */
}


.arrow {
    font-size: 15px;
    display: none;
    position: absolute;
    top: -15px;
    left: -2px;
    transform: translateX(-50%) ;
    transform: rotate(90deg);

}
.printPoint:hover .arrow{
    display: block;
}



/* Отрисовка полосы с годами */
.stripYears {
    top: 100%;
    position: absolute;
    /* white-space: nowrap; */
    font-size: 12px;
    font-weight: bold;
}

.stick {
    /* transform: translate(45%, 20%); */
    margin-bottom: 5px;
    border-left: 1px solid black;
    height: 10px;
}

/* отрисовка столбика процентов слева от графика */

.stripY {
    position: absolute;
    left: -7%;
}

.stickY {
    /* transform: rotate(90deg); */
    /* transform: translate(170%, 20%); */
    border-bottom: 1px solid #AFDAFC;
    margin-left: 49px;
    width: 680px;
}

/* RGB(175,218,252) */



/* _________ ПЕРЕПИСАННЫЕ СТИЛИ ДЛЯ chartQuotes ГРАФИКА  _____________*/
.grid {
    width: calc(100% - 120px);
    height: 400px;
    margin: 100px;
    position: relative;
    box-shadow: 0 0 4px #000;
    
    
  }


  .zoomableContent {
    position: absolute;
    width: 100%;
    height: 100%;
    /* will-change: transform; */
}



  .bond {
    position: absolute;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: navy;
    transform: translate(-50%, 50%);
    z-index: 10;
  }

  .bond::after {
    position: absolute;
    content: attr(data-year);
    white-space: nowrap;
    font-size: 12px;
    transform: translate(-50%, 50%);
    opacity: 0.3;
  }

  .bond:hover::after {
    opacity: 1;
  }

  .horizontalLine {
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    transform: translateY(0.5px);
    background-color: gainsboro;
    
  }

  .horizontalValue {
    position: absolute;
    left: -16px;
    transform: translateY(50%) translateX(-100%);
  }

  .verticalLine {
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    background-color: gainsboro;
    transform: translateX(-0.5px);
    
  }

  .verticalValue {
    position: absolute;
    bottom: -16px;
    transform: translateY(100%) translateX(-50%);
  }